@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#body{
  @apply font-outfit font-light tracking-wide text-base md:text-lg;
  #middle{
    min-height: calc(100vh - 112px);
  }
}

@media screen and (max-width: 767px) {
  #body{
    .toggle-overlay{
      @apply fixed inset-0 bg-black z-10 invisible opacity-0 cursor-pointer;
      &.open{
        @apply visible opacity-50;
      }
    }
    .nav-mobile{
      ul{
        @apply m-0 h-full w-72 bg-black flex-col fixed inset-0 right-auto -translate-x-72 transition-all duration-300 z-20;
        li{
          @apply px-0;
          a{
            @apply w-full px-5 py-3 pt-2.5 border-b flex border-b-gray-900 hover:bg-gray-900 transition-all text-white;
            &.active{
              @apply bg-blue-700;
            }
          }
        }
      }
      &.open{
        ul{
          @apply translate-x-0;
        }
      }
    }
  }
}

